#eSignReportModal {
	 width: 600px;
	 z-index: 10001;
	 height: auto;
	 max-height: 100%;
	 position: absolute;
	 top: 15%;
	 right: calc((100% - 600px)/2);
	 background-color: #fff;
	 outline: none;

}

#eSignReadPrivateKeyModal {
border-radius: 9px 9px 9px 9px;
}
 #eSignReportModal .key-info p {
	 margin-top: 0 !important;
}
 #eSignReportModal .select-or-drop-key {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 #eSignReportModal .non-required-select {
	 margin-top: 0 !important;
}
 #eSignReportModal .modal-digital-signature .modal-content .existing-key .key-action .password-wrap .sign-error {
	 width: 100%;
}
 #eSignReportModal .modal-digital-signature .modal-content #mobileIdModalBody .number-info img.operator_logo {
	 vertical-align: middle;
	 margin-left: 15px;
}
 #eSignReportModal .modal-digital-signature .modal-content #mobileIdModalBody .number-info {
	 margin-bottom: 50px;
}
 #eSignReportModal #general-error {
	 font-size: 13px !important;
}
 #eSignReportModal #mobileIdModalBody .add-number {
	 margin-top: 10px;
}
 #eSignReportModal #mobileIdModalBody .add-number button.new-number-sign, #eSignReportModal #ukeyModalBody button.new-account-sign {
	 margin-top: 6px !important;
}
 #eSignReportModal #mobileIdModalBody .new-number-title {
	 font-size: 14px !important;
}
 #eSignReportModal #ukeyModalBody .new-account-title {
	 font-size: 14px !important;
	 margin-bottom: 10px;
}
 #eSignReportModal .number-info p.number {
	 margin-left: 15px;
}
 #eSignReportModal #eSignReadPrivateWait {
	 font-size: 14px;
}
 #eSignReportModal #eSignReadPrivateWait .controlCode {
	 padding-top: 8px;
}
 @media screen and (max-width: 599px) {
	 #eSignReportModal {
		 top: 10%;
		 width: 90%;
		 right: 5%;
	}
	 #eSignReportModal .modal-digital-signature .modal-content {
		 min-height: 400px;
		 overflow-y: auto;
	}
	 #eSignReportModal .modal-digital-signature .modal-content #keyModalBody {
		 padding: 15px !important;
	}
	 #eSignReportModal .modal-digital-signature .modal-content #keyModalBody .existing-key .key-info, #eSignReportModal .modal-digital-signature .modal-content #keyModalBody .existing-key .key-action {
		 width: 80%;
		 display: block;
	}
	 #eSignReportModal .modal-digital-signature .modal-content #keyModalBody .field-wrapper .field-rectangle {
		 padding: 15px !important;
	}
	 #eSignReportModal .modal-digital-signature .modal-content #keyModalBody .field-wrapper .field-rectangle .key-data-container .clear-key {
		 display: block;
		 margin-bottom: 15px;
		 margin-left: 0 !important;
	}
}
 #eSignReportModal .modal-digital-signature .progress-container .progress {
	 margin: 0px 0px 10px 0px;
}
 #eSignReportModal .modal-digital-signature .row, #eSignReportModal .modal-digital-signature .form-group {
	 margin-bottom: 0 !important;
}
 #eSignReportModal .modal-digital-signature input, #eSignReportModal .modal-digital-signature .form-control {
	 height: 1rem !important;
	 padding: 7px 0 !important;
}
 #eSignReportModal .modal-digital-signature select {
	 height: 2rem !important;
	 padding: 7px 0 !important;
	 margin-bottom: 12px;
}
 #eSignReportModal .modal-digital-signature i[class^="icon-"].field-icon {
	 width: 30px !important;
	 height: 30px !important;
	 margin-right: 10px !important;
	/*@include mobile{
		 margin-right: 10px !important;
	}
	*/
}
 #eSignReportModal .modal-digital-signature .modal-header {
	 text-align: center;
	/*@include mobile{
		 padding: 10px 0 !important;
	}
	*/
}
 #eSignReportModal .modal-digital-signature #keyModalBody {
	 padding: 25px;
	/*@include mobile {
		 min-height: 145px;
	}
	 @include mobile-to-tablet {
		 min-height: 216px;
	}
	*/
}
 #eSignReportModal .modal-digital-signature #keyModalBody .row, #eSignReportModal .modal-digital-signature #keyModalBody .form-group {
	 margin-bottom: 0 !important;
}
 #eSignReportModal .modal-digital-signature #keyModalBody input, #eSignReportModal .modal-digital-signature #keyModalBody select, #eSignReportModal .modal-digital-signature #keyModalBody .form-control {
	 padding: 0 !important;
	 margin-top: 4px;
	 height: 24px !important;
	 border-color: unset;
}
 #eSignReportModal .modal-digital-signature #keyModalBody .field-wrapper {
	 margin-bottom: 15px !important;
}
 #eSignReportModal .modal-digital-signature #keyModalBody .field-wrapper .field-rectangle {
	 min-height: 50px !important;
	 padding: 40px 15px 25px 15px;
}
 #eSignReportModal .modal-digital-signature #tokenModalBody {
	 font-size: 14px;
}
 #eSignReportModal .modal-digital-signature #tokenModalBody select#dirDevice {
	 height: unset !important;
}
 #eSignReportModal .modal-footer .cancel {
	 float: left !important;
}
 #eSignReportModal .modal-footer .save {
	 margin-left: 10px;
}
 #eSignReadPrivateKeyModal {
	 width: 660px;
	 top: 10%;
	 z-index: 10001;
	 height: auto;
	 max-height: 100%;
	 position: absolute;
	 right: calc((100% - 600px)/2);
	 background-color: #fff;
	 outline: none;
	 overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}
 #eSignReadPrivateKeyModal .key-info p {
	 margin-top: 0 !important;
}
 #eSignReadPrivateKeyModal .select-or-drop-key {
	 align-items: center;
	 justify-content: center;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content .existing-key .key-action .password-wrap .sign-error {
	 width: 100%;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #mobileIdModalBody .number-info img.operator_logo {
	 vertical-align: middle;
	 margin-left: 15px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #mobileIdModalBody .number-info {
	 margin-bottom: 50px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content .deposit-sign-add-account input, #eSignReadPrivateKeyModal .modal-digital-signature .modal-content .deposit-sign-add-account input::placeholder {
	 padding-left: 3px !important;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content .deposit-sign-add-account button.deposit-sign-new-account-sign {
	 margin: 0 !important;
	 width: 182px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-logo {
	 width: 111px !important;
	 position: absolute;
	 top: 33px;
	 right: 30px;
}
 #eSignReadPrivateKeyModal #general-error {
	 font-size: 13px !important;
}
 #eSignReadPrivateKeyModal #mobileIdModalBody .add-number {
	 margin-top: 10px;
}
 #eSignReadPrivateKeyModal #mobileIdModalBody .add-number button.new-number-sign, #eSignReadPrivateKeyModal #ukeyModalBody button.new-account-sign {
	 margin-top: 6px !important;
}
 #eSignReadPrivateKeyModal #mobileIdModalBody .new-number-title {
	 font-size: 14px !important;
}
 #eSignReadPrivateKeyModal #ukeyModalBody .new-account-title {
	 font-size: 14px !important;
	 margin-bottom: 10px;
}
 #eSignReadPrivateKeyModal .number-info p.number {
	 margin-left: 15px;
}
 #eSignReadPrivateKeyModal #eSignReadPrivateWait {
	 font-size: 14px;
}
 #eSignReadPrivateKeyModal #eSignReadPrivateWait .controlCode {
	 padding-top: 8px;
}
 @media screen and (max-width: 599px) {
	 #eSignReadPrivateKeyModal {
		 top: 10%;
		 width: 90%;
		 right: 5%;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content {
		 min-height: 400px;
		 overflow-y: auto;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #keyModalBody {
		 padding: 15px !important;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #keyModalBody .existing-key .key-info, #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #keyModalBody .existing-key .key-action {
		 width: 80%;
		 display: block;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #keyModalBody .field-wrapper .field-rectangle {
		 padding: 15px !important;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #keyModalBody .field-wrapper .field-rectangle .key-data-container .clear-key {
		 display: block;
		 margin-bottom: 15px;
		 margin-left: 0 !important;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-new-account-title {
		 text-align: center;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-add-account {
		 text-align: center;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-add-account .login-input {
		 margin-top: 65px;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-add-account .deposit-sign-logo {
		 margin: 0 auto;
		 padding: 0;
		 right: 0;
		 left: 0;
		 top: 52px;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .account-error {
		 width: 100%;
		 font-size: 10px;
		 overflow: hidden;
		 text-overflow: ellipsis;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .verification-wait {
		 line-height: 0.4;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key {
		 padding: 5px 10px;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-key-info {
		 display: block;
		 width: 100%;
		 margin-left: 0;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-key-info div.hint {
		 padding-top: 5px;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-key-info p {
		 margin: 0;
		 vertical-align: top;
		 padding: 7px 0 !important;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-key-info p:not(.title) {
		 width: 62%;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action {
		 display: block;
		 width: 100%;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action button.deposit-sign-action-btn {
		 position: absolute;
		 right: 0;
		 left: 0;
		 bottom: 20px;
		 padding: 8px 25px;
		 width: 90%;
		 margin: 0 auto;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action .password-wrap {
		 margin-left: 0;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action .password-wrap input {
		 width: 98%;
		 padding-left: 3px;
	}
	 #eSignReadPrivateKeyModal .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action .password-wrap .sign-error {
		 text-align: center;
	}
}
 #eSignReadPrivateKeyModal .modal-digital-signature .progress-container .progress {
	 margin: 0px 0px 10px 0px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature .row, #eSignReadPrivateKeyModal .modal-digital-signature .form-group {
	 margin-bottom: 0 !important;
}
 #eSignReadPrivateKeyModal .modal-digital-signature input, #eSignReadPrivateKeyModal .modal-digital-signature .form-control {
	 height: 1rem !important;
	 padding: 7px 0 !important;
}
 #eSignReadPrivateKeyModal .modal-digital-signature select {
	 height: 2rem !important;
	 padding: 7px 0 !important;
	 margin-bottom: 12px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature i[class^="icon-"].field-icon {
	 width: 30px !important;
	 height: 30px !important;
	 margin-right: 10px !important;
	/*@include mobile{
		 margin-right: 10px !important;
	}
	*/
}
 #eSignReadPrivateKeyModal .modal-digital-signature .modal-header {
	 text-align: center;
	/*@include mobile{
		 padding: 10px 0 !important;
	}
	*/
}
 #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody {
	 padding: 25px;
	/*@include mobile {
		 min-height: 145px;
	}
	 @include mobile-to-tablet {
		 min-height: 216px;
	}
	*/
}
 #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody .row, #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody .form-group {
	 margin-bottom: 0 !important;
}
 #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody input, #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody select, #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody .form-control {
	 padding: 0 !important;
	 margin-top: 4px;
	 height: 24px !important;
	 border-color: unset;
}
 #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody .field-wrapper {
	 margin-bottom: 15px !important;
}
 #eSignReadPrivateKeyModal .modal-digital-signature #keyModalBody .field-wrapper .field-rectangle {
	 min-height: 50px !important;
	 padding: 40px 15px 25px 15px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature #tokenModalBody {
	 font-size: 14px;
}
 #eSignReadPrivateKeyModal .modal-digital-signature #tokenModalBody select#dirDevice {
	 height: unset !important;
}
 #eSignReadPrivateKeyModal .modal-footer .cancel {
	 float: left !important;
}
 #eSignReadPrivateKeyModal .modal-footer .save {
	 margin-left: 10px;
}

.modal-digital-signature .modal-content #asanImzaModalBody .asan-imza-existed-account .asan-imza-action button.asan-imza-action-btn, .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-existing-key .deposit-sign-action button.deposit-sign-action-btn {
 background-color: #2f8b7f;
}

.modal-digital-signature .modal-content button.action-btn {
font-size: 14px;
font-family: "Rubik", serif;
background-color: #2f8b7f;
}

.modal-digital-signature .modal-content button.action-btn:hover {
 background-color: #265f75;
}


.modal-digital-signature .modal-header {
background-color: #2f8b7f;
border-radius: 9px 9px 0px 0px;
font-size: 22px;
font-family: "Rubik", serif;
color: #FFFFFF;
}
.modal-digital-signature .modal-content {
border-radius: 9px 9px 9px 9px;
}

.modal-digital-signature .modal-content ul.sign-tabs li {
font-size: 16px;
font-family: "Rubik", serif;
}

.modal-digital-signature .modal-content ul.sign-tabs li.selected-tab {
font-size: 16px;
font-family: "Rubik", serif;
background-color: #60c1c4;
}

.modal-digital-signature .field-wrapper .field-rectangle {
 font-size: 16px;
 font-family: "Rubik", serif;
 }

 .modal-digital-signature .modal-body {
   font-size: 16px;
   font-family: "Rubik", serif;
  }

.modal-digital-signature .modal-content #asanImzaModalBody .asan-imza-new-account-container .asan-imza-add-account button.asan-imza-action-btn, .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-add-account button.deposit-sign-action-btn  {
font-size: 14px;
font-family: "Rubik", serif;
background-color: #2f8b7f;
}

.modal-digital-signature .modal-content #asanImzaModalBody .asan-imza-new-account-container .asan-imza-add-account button.asan-imza-action-btn, .modal-digital-signature .modal-content #depositSignModalBody .deposit-sign-new-account-container .deposit-sign-add-account button.deposit-sign-action-btn:hover {
font-size: 14px;
font-family: "Rubik", serif;
background-color: #265f75;
}

#eSignReadPrivateKeyModal .modal-digital-signature .modal-content .deposit-sign-add-account input, #eSignReadPrivateKeyModal .modal-digital-signature .modal-content .deposit-sign-add-account input::placeholder {
 font-size: 13px;
 font-family: "Rubik", serif;
 padding: 4px 2px 4px 3px !important;
}

#eSignReadPrivateKeyModal #eSignReadPrivateWait {
  font-size: 14px;
  font-family: "Rubik", serif;
 }

 .modal-digital-signature p {
  font-size: 14px;
    font-family: "Rubik", serif;
 }

 .modal-digital-signature .modal-content div.add-key-btn a:hover, .modal-digital-signature .modal-content div.add-number-btn a:hover, .modal-digital-signature .modal-content a.action-btn:hover {
     background-color: #265f75;
  }

 .modal-digital-signature .modal-content div.add-key-btn a, .modal-digital-signature .modal-content div.add-number-btn button, .modal-digital-signature .modal- content a.action-btn, .modal-digital-signature .modal-content div.add-account-btn button, .modal-digital-signature .modal-content div.asan-imza-add-account-btn button {
 font-size: 14px;
 font-family: "Rubik", serif;
    background-color: #2f8b7f;
 }